/UF2404/Java-Exercises/Ejercicio1/target/
/UF2404/Java-Exercises/Ejercicio1/nbproject/
/UF2404/Java-Exercises/Ejercicios3/Ejercicios3/target/
/UF2404/Java-Exercises/Ejercicio2_Scanner/JuegoScanner/target/
/UF2404/Java-Exercises/EC_Taller/target/
/UF2404/Java-Exercises/Practica_threads_socket/target/
/UF2404/Java-Exercises/ServidorSimple/target/
/UF2404/Java-Exercises/ClienteSimple/target/
/UF2405/Proyecto1/nbproject/private/
/UF2404/Java-Exercises/Repaso/Repaso/target/
/UF2405/Project1/target/
/UF2405/EC_Taller_jar_2.0-SNAPSHOT/target/
/UF2405/TallerAppSpring/target/
/UF2405/EC_2405DAO/target/
/UF2405/EC2405/EC2405SP/target/
